__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.egg


env/
venv/
.env
myenv/


.ipynb_checkpoints/


chroma_db/
__pycache__/
.cache/
*.db


*.log
*.tmp
*.temp

.vscode/
.idea/
*.swp
.DS_Store
